/.idea/.gitignore
/dataSources/
/dataSources.local.xml
/compiler.xml
/encodings.xml
/jarRepositories.xml
/misc.xml
/vcs.xml
/src/main/webapp/WEB-INF/web.xml
/.mvn/wrapper/maven-wrapper.jar
/.mvn/wrapper/maven-wrapper.properties
